.StreetEmpireLink {
  max-width: 640px;
  padding-top: 32px;
  padding-bottom: 32px;
  p { margin: 18px 0; line-height: 1.6; }
}
.StreetEmpireProfileLink {
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: 700;
}
